<h2>New book</h2>
  <%= form_with model:book, local:true do |f|%>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body%>
    <!--星評価-->
    <div id="star" class="form-group">
      <%= f.label :Rate %>
      <%= f.hidden_field :rate, class:"form-control" %>
    </div>
      <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn :  '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'book[rate]', <%#Bookモデルのrateカラムに保存%>
          half: true,
        });
      </script>
    <!--星評価-->
    <%= f.submit 'Create Book', class:"btn btn-success" %>
  <% end %>