<h2>New book</h2>
  <%= form_with model:book, local:true do |f|%>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body%>
    <!--星評価-->
    <div class="form-group row" id="star">
      <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'books[rate]',
      half: true,
    });
    </script>
    <%= f.submit 'Create Book', class:"btn btn-success" %>
  <% end %>