<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <div class="errors">
        <% if @book.errors.any? %>
          <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
          <ul>
            <li>
              <% @book.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
      <%= form_with model:@book, url:book_path(@book), method: :patch, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %></br>
        <p>Category</p>
        <%= f.text_field :category %>
        <div id="star-rate<%= @book.id %>"></div>
        <script>
          $('#star-rate<%= @book.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @book.rate %>,
          });
        </script>
        <%= f.submit 'Update Book', class:"btn btn-success" %>
        <div class="link">
          <%= link_to "Show", book_path(params[:id]) %>
          <%= link_to "Back", books_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>